<%- include("header") -%>

<h1 class="aboutFont">This is the about section</h1>
<p class="aboutFont">To Do list application made using node Express and ejs with MongoDB database using mongoose. </p>
<p class="aboutFont">Functionality: It can store many list items corresponding to the list heading. On accessing  '/ListTitle' on the search bar, it will make a new list,(if not saved before) and the data of every list will be maintained. Also you can delete an item permanently from the list by checking the box besides the item.</p>

<%- include("footer") -%>