<%- include("header") -%>

<h1 class="aboutFont">This is the about section</h1>
<p class="aboutFont">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut voluptatibus aliquid id provident nostrum asperiores qui laboriosam dolores similique fugit quos, corrupti beatae officia iure nulla facilis? Consequatur, aperiam dolor.</p>

<%- include("footer") -%>